.finalTransactionContainer {
    position: relative;
}

.doneTransaction {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: 600;
}

.finalTransaction {
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

.submitButton {
    height: 20px;
    width: 250px;
}

.button {
    position: absolute;
    border: none;
    background-color: #ffffff;
    color: rgb(235 230 238);
    align-items: center;
}
